<!DOCTYPE html>
<html>

	<title>
			Parent Teacher Conference Organizer!
	</title>

	<head>
        <style>
        body{
            background-color: beige;
        }
    
        div{
            width: 400px;
            padding: 50px;
            margin: 50px;
            border: 25px ;
            border-style: outset;
            border-color: blue;
        }
        </style>
    </head>

     <h1>
        <center>
        Parent Teacher Conference Organizer
        </center>
    </h1>

    <body>
    	<center>
    		Success!
    	</center>
    	
    	
    </body>
</html>
